In [2]:
import pandas as pd
import plotly.express as px
import numpy as np
import random

In [2]:
df_lum = pd.read_csv('samples/luminance.csv')
df_lum.head(23)

    Unnamed: 0.1  Unnamed: 0  type-id  instance-id            timestamp  value
0              0           0   522558       631850  2007-10-01 00:00:00    0.0
1              1           1   522558       631850  2007-10-01 01:00:00    0.0
2              2           2   522558       631850  2007-10-01 02:00:00    0.0
3              3           3   522558       631850  2007-10-01 03:00:00    0.0
4              4           4   522558       631850  2007-10-01 04:00:00    0.0
5              5           5   522558       631850  2007-10-01 05:00:00    0.0
6              6           6   522558       631850  2007-10-01 06:00:00    0.0
7              7           7   522558       631850  2007-10-01 07:00:00    2.4
8              8           8   522558       631850  2007-10-01 08:00:00   25.9
9              9           9   522558       631850  2007-10-01 09:00:00   52.0
10            10          10   522558       631850  2007-10-01 10:00:00   82.2
11            11          11   522558       631850  2007-10-01 11:00:00  113.9
12            12          12   522558       631850  2007-10-01 12:00:00  192.0
13            13          13   522558       631850  2007-10-01 13:00:00  162.4
14            14          14   522558       631850  2007-10-01 14:00:00  317.1
15            15          15   522558       631850  2007-10-01 15:00:00  356.5
16            16          16   522558       631850  2007-10-01 16:00:00  161.5
17            17          17   522558       631850  2007-10-01 17:00:00  190.5
18            18          18   522558       631850  2007-10-01 18:00:00   45.9
19            19          19   522558       631850  2007-10-01 19:00:00    0.0
20            20          20   522558       631850  2007-10-01 20:00:00    0.0
21            21          21   522558       631850  2007-10-01 21:00:00    0.0
22            22          22   522558       631850  2007-10-01 22:00:00    0.0

In [3]:
fig = px.line(df_lum.head(72),x="timestamp",y="value")
fig.show()

In [4]:
import datetime

datetime.datetime.now()

datetime.datetime(2024, 7, 16, 15, 31, 3, 63033)

In [5]:
df_light = pd.DataFrame(columns=['type-id','instance-id','timestamp','value'])
df_light = df_lum[['type-id','timestamp','value']].copy()

In [6]:
df_light

       type-id            timestamp value
0       522558  2007-10-01 00:00:00   0.0
1       522558  2007-10-01 01:00:00   0.0
2       522558  2007-10-01 02:00:00   0.0
3       522558  2007-10-01 03:00:00   0.0
4       522558  2007-10-01 04:00:00   0.0
...        ...                  ...   ...
52603   522558  2013-09-30 19:00:00   0.0
52604   522558  2013-09-30 20:00:00   0.0
52605   522558  2013-09-30 21:00:00   0.0
52606   522558  2013-09-30 22:00:00   0.0
52607   522558  2013-09-30 23:00:00   0.0

[52608 rows x 3 columns]

In [7]:
df_light.dtypes
df_light.astype({'value': 'string', 'timestamp': "datetime64[ns]"}).dtypes
df_light

       type-id            timestamp value
0       522558  2007-10-01 00:00:00   0.0
1       522558  2007-10-01 01:00:00   0.0
2       522558  2007-10-01 02:00:00   0.0
3       522558  2007-10-01 03:00:00   0.0
4       522558  2007-10-01 04:00:00   0.0
...        ...                  ...   ...
52603   522558  2013-09-30 19:00:00   0.0
52604   522558  2013-09-30 20:00:00   0.0
52605   522558  2013-09-30 21:00:00   0.0
52606   522558  2013-09-30 22:00:00   0.0
52607   522558  2013-09-30 23:00:00   0.0

[52608 rows x 3 columns]

In [9]:
df_light['value'] =  df_light.value.astype(float)
df_light
#df = df.loc[df['hour'] == 11]

       type-id            timestamp  value
0       522558  2007-10-01 00:00:00    0.0
1       522558  2007-10-01 01:00:00    0.0
2       522558  2007-10-01 02:00:00    0.0
3       522558  2007-10-01 03:00:00    0.0
4       522558  2007-10-01 04:00:00    0.0
...        ...                  ...    ...
52603   522558  2013-09-30 19:00:00    0.0
52604   522558  2013-09-30 20:00:00    0.0
52605   522558  2013-09-30 21:00:00    0.0
52606   522558  2013-09-30 22:00:00    0.0
52607   522558  2013-09-30 23:00:00    0.0

[52608 rows x 3 columns]

In [12]:
df_light.dtypes
df_light = df_light.loc[df_light['value'] == 0.0]
df_light

       type-id            timestamp  value
0       522558  2007-10-01 00:00:00    0.0
1       522558  2007-10-01 01:00:00    0.0
2       522558  2007-10-01 02:00:00    0.0
3       522558  2007-10-01 03:00:00    0.0
4       522558  2007-10-01 04:00:00    0.0
...        ...                  ...    ...
52603   522558  2013-09-30 19:00:00    0.0
52604   522558  2013-09-30 20:00:00    0.0
52605   522558  2013-09-30 21:00:00    0.0
52606   522558  2013-09-30 22:00:00    0.0
52607   522558  2013-09-30 23:00:00    0.0

[24000 rows x 3 columns]

In [13]:
df_light['value'].unique()

array([0.])

In [18]:
df_light['value'] = np.random.uniform(low=110, high=350, size=len(df_light)).round(1)
df_light.head(23)

/tmp/ipykernel_6678/2652472520.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    type-id            timestamp  value
0    522558  2007-10-01 00:00:00  307.1
1    522558  2007-10-01 01:00:00  121.7
2    522558  2007-10-01 02:00:00  253.6
3    522558  2007-10-01 03:00:00  235.5
4    522558  2007-10-01 04:00:00  287.9
5    522558  2007-10-01 05:00:00  270.7
6    522558  2007-10-01 06:00:00  337.3
19   522558  2007-10-01 19:00:00  277.5
20   522558  2007-10-01 20:00:00  174.5
21   522558  2007-10-01 21:00:00  252.7
22   522558  2007-10-01 22:00:00  236.1
23   522558  2007-10-01 23:00:00  195.7
24   522558  2007-10-02 00:00:00  310.7
25   522558  2007-10-02 01:00:00  333.3
26   522558  2007-10-02 02:00:00  148.3
27   522558  2007-10-02 03:00:00  114.7
28   522558  2007-10-02 04:00:00  258.6
29   522558  2007-10-02 05:00:00  272.3
43   522558  2007-10-02 19:00:00  315.0
44   522558  2007-10-02 20:00:00  316.2
45   522558  2007-10-02 21:00:00  131.6
46   522558  2007-10-02 22:00:00  316.9
47   522558  2007-10-02 23:00:00  235.7

In [19]:
df_light['instance-id']=df_light['instance-id'].assign(231543)
df_light.head(23)

KeyError: 'instance-id'

In [22]:
df_light_final = pd.DataFrame(columns=['type-id','instance-id','timestamp','value'])
df_light_final
df_light_final['timestamp'] = df_light['timestamp'].copy()
df_light_final['value'] = df_light['value'].copy()
df_light_final['type-id'] = df_light['type-id'].copy()
df_light_final.loc[:,'instance-id'] = 214458

In [23]:
df_light_final.head(23)

    type-id instance-id            timestamp  value
0    522558      214458  2007-10-01 00:00:00  307.1
1    522558      214458  2007-10-01 01:00:00  121.7
2    522558      214458  2007-10-01 02:00:00  253.6
3    522558      214458  2007-10-01 03:00:00  235.5
4    522558      214458  2007-10-01 04:00:00  287.9
5    522558      214458  2007-10-01 05:00:00  270.7
6    522558      214458  2007-10-01 06:00:00  337.3
19   522558      214458  2007-10-01 19:00:00  277.5
20   522558      214458  2007-10-01 20:00:00  174.5
21   522558      214458  2007-10-01 21:00:00  252.7
22   522558      214458  2007-10-01 22:00:00  236.1
23   522558      214458  2007-10-01 23:00:00  195.7
24   522558      214458  2007-10-02 00:00:00  310.7
25   522558      214458  2007-10-02 01:00:00  333.3
26   522558      214458  2007-10-02 02:00:00  148.3
27   522558      214458  2007-10-02 03:00:00  114.7
28   522558      214458  2007-10-02 04:00:00  258.6
29   522558      214458  2007-10-02 05:00:00  272.3
43   522558      214458  2007-10-02 19:00:00  315.0
44   522558      214458  2007-10-02 20:00:00  316.2
45   522558      214458  2007-10-02 21:00:00  131.6
46   522558      214458  2007-10-02 22:00:00  316.9
47   522558      214458  2007-10-02 23:00:00  235.7

In [13]:
df_air = pd.read_csv('samples/air_humidity.csv')
fig = px.line(df_light.head(72),x="timestamp",y="value")
fig.show()

NameError: name 'df_light' is not defined

In [7]:
df_light.head(20)

    Unnamed: 0  type-id  instance-id   timestamp  value
0           11   263251       224285  2007-10-01   0.99
1           35   263251       224285  2007-10-02   0.52
2           59   263251       224285  2007-10-03   0.69
3           83   263251       224285  2007-10-04   0.66
4          107   263251       224285  2007-10-05   0.78
5          131   263251       224285  2007-10-06   0.76
6          155   263251       224285  2007-10-07   0.66
7          179   263251       224285  2007-10-08   0.31
8          203   263251       224285  2007-10-09   0.19
9          227   263251       224285  2007-10-10   0.50
10         251   263251       224285  2007-10-11   0.48
11         275   263251       224285  2007-10-12   0.69
12         299   263251       224285  2007-10-13   0.61
13         323   263251       224285  2007-10-14   0.44
14         347   263251       224285  2007-10-15   0.33
15         371   263251       224285  2007-10-16   0.57
16         395   263251       224285  2007-10-17   1.00
17         419   263251       224285  2007-10-18   0.99
18         443   263251       224285  2007-10-19   0.72
19         467   263251       224285  2007-10-20   0.88

In [30]:
df_lum.to_csv('samples/luminance.csv')
df_light_final.to_csv('samples/light.csv')

In [3]:
df_water = pd.DataFrame(columns=['timestamp','value'])
df_water['timestamp'] = df_light['timestamp'].copy()
df_water['value'] = df_water.value.astype(float)

In [4]:
df_water['value'] = np.random.uniform(low=0, high=1, size=len(df_water)).round(2)
df_water.head(23)

              timestamp  value
0   2007-10-01 00:00:00   0.25
1   2007-10-01 01:00:00   0.94
2   2007-10-01 02:00:00   0.03
3   2007-10-01 03:00:00   0.67
4   2007-10-01 04:00:00   0.74
5   2007-10-01 05:00:00   0.35
6   2007-10-01 06:00:00   0.17
7   2007-10-01 19:00:00   0.27
8   2007-10-01 20:00:00   0.76
9   2007-10-01 21:00:00   0.78
10  2007-10-01 22:00:00   0.18
11  2007-10-01 23:00:00   0.94
12  2007-10-02 00:00:00   0.39
13  2007-10-02 01:00:00   0.82
14  2007-10-02 02:00:00   0.97
15  2007-10-02 03:00:00   0.85
16  2007-10-02 04:00:00   0.07
17  2007-10-02 05:00:00   0.49
18  2007-10-02 19:00:00   0.87
19  2007-10-02 20:00:00   0.77
20  2007-10-02 21:00:00   0.41
21  2007-10-02 22:00:00   0.84
22  2007-10-02 23:00:00   0.74

In [5]:
df_water.to_csv('samples/water.csv')

In [6]:
df_soil = pd.DataFrame(columns=['timestamp','value'])
df_soil['timestamp'] = df_light['timestamp'].copy()
df_soil['value'] = df_water.value.astype(float)

In [7]:
df_soil['value'] = np.random.uniform(low=0, high=1, size=len(df_soil)).round(2)
df_soil.head(23)

              timestamp  value
0   2007-10-01 00:00:00   0.69
1   2007-10-01 01:00:00   0.46
2   2007-10-01 02:00:00   0.60
3   2007-10-01 03:00:00   0.72
4   2007-10-01 04:00:00   0.88
5   2007-10-01 05:00:00   0.08
6   2007-10-01 06:00:00   0.16
7   2007-10-01 19:00:00   0.89
8   2007-10-01 20:00:00   0.38
9   2007-10-01 21:00:00   0.08
10  2007-10-01 22:00:00   0.68
11  2007-10-01 23:00:00   0.74
12  2007-10-02 00:00:00   0.28
13  2007-10-02 01:00:00   0.48
14  2007-10-02 02:00:00   0.25
15  2007-10-02 03:00:00   0.44
16  2007-10-02 04:00:00   0.31
17  2007-10-02 05:00:00   0.43
18  2007-10-02 19:00:00   0.02
19  2007-10-02 20:00:00   0.25
20  2007-10-02 21:00:00   0.27
21  2007-10-02 22:00:00   0.82
22  2007-10-02 23:00:00   0.19

In [8]:
df_water.to_csv('samples/soil.csv')

In [2]:
df_temp = pd.read_csv('samples/temp.csv')

In [3]:
df_temp['value'] = df_temp.value.astype(float)
df_temp['timestamp'] = pd.to_datetime(df_temp['timestamp'])
df_temp.dtypes

type-id               float64
instance-id           float64
timestamp      datetime64[ns]
value                 float64
dtype: object

In [4]:
df_temp['value'] = df_temp.apply(lambda x: (x['value']-32)*(5/9),axis=1).round(2)
df_temp.head(10)

     type-id  instance-id  timestamp  value
0  2441636.0    1513213.0 2016-01-03  10.00
1  2441636.0    1513213.0 2016-01-10  11.67
2  2441636.0    1513213.0 2016-01-17  11.11
3  2441636.0    1513213.0 2016-01-24  11.67
4  2441636.0    1513213.0 2016-01-31  15.00
5  2441636.0    1513213.0 2016-02-07  13.33
6  2441636.0    1513213.0 2016-02-14  15.56
7  2441636.0    1513213.0 2016-02-21  18.89
8  2441636.0    1513213.0 2016-02-28  15.00
9  2441636.0    1513213.0 2016-03-06  18.89

In [6]:
df_temp.drop(['type-id','instance-id'],axis=1)

    timestamp  value
0  2016-01-03  10.00
1  2016-01-10  11.67
2  2016-01-17  11.11
3  2016-01-24  11.67
4  2016-01-31  15.00
5  2016-02-07  13.33
6  2016-02-14  15.56
7  2016-02-21  18.89
8  2016-02-28  15.00
9  2016-03-06  18.89
10 2016-03-13  21.11
11 2016-03-20  21.11
12 2016-03-27  17.22
13 2016-04-03  16.67
14 2016-04-10  20.00
15 2016-04-17  22.78
16 2016-04-24  22.22
17 2016-05-01  26.67
18 2016-05-08  21.67
19 2016-05-15  26.11
20 2016-05-22  24.44
21 2016-05-29  26.67
22 2016-06-05  25.00
23 2016-06-12  27.78
24 2016-06-19  29.44
25 2016-06-26  28.89
26 2016-07-03  30.00
27 2016-07-10  30.56
28 2016-07-17  30.56
29 2016-07-24  31.11
30 2016-07-31  29.44
31 2016-08-07  31.11
32 2016-08-14  30.56
33 2016-08-21  27.22
34 2016-08-28  28.33
35 2016-09-04  29.44
36 2016-09-11  28.89
37 2016-09-18  28.89
38 2016-09-25  28.89
39 2016-10-02  23.89
40 2016-10-09  26.11
41 2016-10-16  26.11
42 2016-10-23  23.33
43 2016-10-30  23.89
44 2016-11-06  25.00
45 2016-11-13  20.00
46 2016-11-20  18.33
47 2016-11-27  18.33
48 2016-12-04  13.89
49 2016-12-11  12.22
50 2016-12-18  16.11
51 2016-12-25  16.67
52 2017-01-01  19.44

In [7]:
df_temp.to_csv('samples/temp.csv')

In [3]:
df_temp_max = pd.read_csv("/home/vishal/Downloads/daily-max-temperatures.csv")
df_temp_min = pd.read_csv("/home/vishal/Downloads/daily-min-temperatures.csv")

df_temp_max.head(10)

         Date  Temperature
0  1981-01-01         38.1
1  1981-01-02         32.4
2  1981-01-03         34.5
3  1981-01-04         20.7
4  1981-01-05         21.5
5  1981-01-06         23.1
6  1981-01-07         29.7
7  1981-01-08         36.6
8  1981-01-09         36.1
9  1981-01-10         20.6

In [4]:
df_temp_min.head(10)

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8
5  1981-01-06  15.8
6  1981-01-07  15.8
7  1981-01-08  17.4
8  1981-01-09  21.8
9  1981-01-10  20.0

In [5]:


df_t1['timestamp'] = pd.to_datetime(df_t1['timestamp'])
df_t1['temp_max'] = df_t1.temp_max.astype(float)
df_t1['temp_min'] = df_t1.temp_min.astype(float)

df_t1['timestamp'] = df_temp_max['Date'].copy()
df_t1['temp_max'] = df_temp_max['Temperature'].copy()
df_t1['temp_min'] = df_temp_min['Temp'].copy()

df_t1.head(10)

    timestamp  temp_max  temp_min
0  1981-01-01      38.1      20.7
1  1981-01-02      32.4      17.9
2  1981-01-03      34.5      18.8
3  1981-01-04      20.7      14.6
4  1981-01-05      21.5      15.8
5  1981-01-06      23.1      15.8
6  1981-01-07      29.7      15.8
7  1981-01-08      36.6      17.4
8  1981-01-09      36.1      21.8
9  1981-01-10      20.6      20.0

In [5]:
df_t1 = pd.DataFrame(columns=['timestamp','temp_max','temp_min'])
df_t1['timestamp'] = df_temp_max['Date'].copy()
df_t1['temp_max'] = df_temp_max['Temperature'].copy()
df_t1['temp_min'] = df_temp_min['Temp'].copy()
df_t1['timestamp'] = df_t1['timestamp'].astype(str)+' 00:00:00'

In [6]:
df_t1.head(10)

             timestamp  temp_max  temp_min
0  1981-01-01 00:00:00      38.1      20.7
1  1981-01-02 00:00:00      32.4      17.9
2  1981-01-03 00:00:00      34.5      18.8
3  1981-01-04 00:00:00      20.7      14.6
4  1981-01-05 00:00:00      21.5      15.8
5  1981-01-06 00:00:00      23.1      15.8
6  1981-01-07 00:00:00      29.7      15.8
7  1981-01-08 00:00:00      36.6      17.4
8  1981-01-09 00:00:00      36.1      21.8
9  1981-01-10 00:00:00      20.6      20.0

In [6]:
df_t1['timestamp'] = pd.to_datetime(df_t1['timestamp'], format='%Y-%m-%d %H:%M:%S')

In [7]:
df_t1.dtypes
df_t1.head(10)

   timestamp  temp_max  temp_min
0 1981-01-01      38.1      20.7
1 1981-01-02      32.4      17.9
2 1981-01-03      34.5      18.8
3 1981-01-04      20.7      14.6
4 1981-01-05      21.5      15.8
5 1981-01-06      23.1      15.8
6 1981-01-07      29.7      15.8
7 1981-01-08      36.6      17.4
8 1981-01-09      36.1      21.8
9 1981-01-10      20.6      20.0

In [7]:
df = df_t1.set_index("timestamp").resample("H").ffill().reset_index().rename(
    {"timestamp": "Date"}, axis=1
)

/tmp/ipykernel_12403/4051059114.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df = df_t1.set_index("timestamp").resample("H").ffill().reset_index().rename(

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [12]:
df_a1 = pd.read_csv('/home/vishal/Downloads/max_planck_weather_ts.csv')
df_a1.columns

Index(['Date Time', 'p (mbar)', 'T (degC)', 'Tpot (K)', 'Tdew (degC)',
       'rh (%)', 'VPmax (mbar)', 'VPact (mbar)', 'VPdef (mbar)', 'sh (g/kg)',
       'H2OC (mmol/mol)', 'rho (g/m**3)', 'wv (m/s)', 'max. wv (m/s)',
       'wd (deg)'],
      dtype='object')

In [14]:
df_air1 = pd.DataFrame(columns=['timestamp','value'])
df_air1['timestamp'] = pd.to_datetime(df_air1['timestamp'])
df_air1['value'] = df_air1.value.astype(float)

df_air1['timestamp'] = df_a1['Date Time'].copy()
df_air1['value'] = df_a1['rh (%)'].copy()

In [15]:
df_air1.head(20)

              timestamp  value
0   01.01.2009 00:10:00   93.3
1   01.01.2009 00:20:00   93.4
2   01.01.2009 00:30:00   93.9
3   01.01.2009 00:40:00   94.2
4   01.01.2009 00:50:00   94.1
5   01.01.2009 01:00:00   94.4
6   01.01.2009 01:10:00   94.8
7   01.01.2009 01:20:00   94.4
8   01.01.2009 01:30:00   93.8
9   01.01.2009 01:40:00   93.1
10  01.01.2009 01:50:00   93.1
11  01.01.2009 02:00:00   93.2
12  01.01.2009 02:10:00   93.5
13  01.01.2009 02:20:00   93.5
14  01.01.2009 02:30:00   93.9
15  01.01.2009 02:40:00   93.6
16  01.01.2009 02:50:00   93.5
17  01.01.2009 03:00:00   93.5
18  01.01.2009 03:10:00   93.5
19  01.01.2009 03:20:00   93.3

In [16]:
df_air1.to_csv('samples/air_humidity.csv')

In [10]:


df_t1.head(10)

             timestamp  temp_max  temp_min
0  1981-01-01 00:00:00      38.1      20.7
1  1981-01-02 00:00:00      32.4      17.9
2  1981-01-03 00:00:00      34.5      18.8
3  1981-01-04 00:00:00      20.7      14.6
4  1981-01-05 00:00:00      21.5      15.8
5  1981-01-06 00:00:00      23.1      15.8
6  1981-01-07 00:00:00      29.7      15.8
7  1981-01-08 00:00:00      36.6      17.4
8  1981-01-09 00:00:00      36.1      21.8
9  1981-01-10 00:00:00      20.6      20.0

In [11]:
df_t1.count()

timestamp    3650
temp_max     3650
temp_min     3650
dtype: int64

In [12]:
df_t1.dtypes

timestamp     object
temp_max     float64
temp_min     float64
dtype: object

In [19]:
df_air = pd.read_csv('samples/air_humidity.csv').head(500)
df_air['timestamp'] = pd.to_datetime(df_air['timestamp'])
df_air['timestamp'].replace('2009', regex=True).replace('2023', '2015', regex=True)
fig = px.line(df_air.head(72),x="timestamp",y="value")
fig.show()

In [4]:
df_air = pd.read_csv('samples/air_humidity.csv').head(100)
df_air.head(10)

   Unnamed: 0            timestamp  value
0           0  01.01.2009 00:10:00   93.3
1           1  01.01.2009 00:20:00   93.4
2           2  01.01.2009 00:30:00   93.9
3           3  01.01.2009 00:40:00   94.2
4           4  01.01.2009 00:50:00   94.1
5           5  01.01.2009 01:00:00   94.4
6           6  01.01.2009 01:10:00   94.8
7           7  01.01.2009 01:20:00   94.4
8           8  01.01.2009 01:30:00   93.8
9           9  01.01.2009 01:40:00   93.1

In [5]:
df_air.count()

Unnamed: 0    100
timestamp     100
value         100
dtype: int64

In [6]:
df_air.tail(10)

    Unnamed: 0            timestamp  value
90          90  01.01.2009 15:10:00   90.2
91          91  01.01.2009 15:20:00   89.8
92          92  01.01.2009 15:30:00   90.0
93          93  01.01.2009 15:40:00   89.5
94          94  01.01.2009 15:50:00   89.2
95          95  01.01.2009 16:00:00   89.4
96          96  01.01.2009 16:10:00   89.9
97          97  01.01.2009 16:20:00   89.8
98          98  01.01.2009 16:30:00   89.5
99          99  01.01.2009 16:40:00   89.7

In [8]:
df_air['timestamp'] = pd.to_datetime(df_air.timestamp) + pd.offsets.DateOffset(years=15)

In [32]:
df_air.loc[1727] = pd.to_datetime(df_air.loc[172])

In [35]:
for i in range(0,10):
    df_air.loc[i] = pd.to_datetime(df_air.loc[i]) + pd.offsets.DateOffset(years=1)

df_air.head(10)

,Unnamed: 0,timestamp,value
0,1971-01-01 00:00:00,1971-01-01 00:00:00,1971-01-01 00:00:00
1,1971-01-01 00:00:00.000000001,1971-01-01 00:00:00.000000001,1971-01-01 00:00:00.000000001
2,1971-01-01 00:00:00.000000002,1971-01-01 00:00:00.000000002,1971-01-01 00:00:00.000000002
3,1971-01-01 00:00:00.000000003,1971-01-01 00:00:00.000000003,1971-01-01 00:00:00.000000003
4,1971-01-01 00:00:00.000000004,1971-01-01 00:00:00.000000004,1971-01-01 00:00:00.000000004
5,1971-01-01 00:00:00.000000005,1971-01-01 00:00:00.000000005,1971-01-01 00:00:00.000000005
6,1971-01-01 00:00:00.000000006,1971-01-01 00:00:00.000000006,1971-01-01 00:00:00.000000006
7,1971-01-01 00:00:00.000000007,1971-01-01 00:00:00.000000007,1971-01-01 00:00:00.000000007
8,1971-01-01 00:00:00.000000008,1971-01-01 00:00:00.000000008,1971-01-01 00:00:00.000000008
9,1971-01-01 00:00:00.000000009,1971-01-01 00:00:00.000000009,1971-01-01 00:00:00.000000009

In [13]:
df_air.head(10)

   Unnamed: 0           timestamp  value
0           0 2024-07-17 00:10:00   93.3
1           1 2024-07-17 00:20:00   93.4
2           2 2024-07-17 00:30:00   93.9
3           3 2024-07-17 00:40:00   94.2
4           4 2024-07-17 00:50:00   94.1
5           5 2024-07-17 01:00:00   94.4
6           6 2024-07-17 01:10:00   94.8
7           7 2024-07-17 01:20:00   94.4
8           8 2024-07-17 01:30:00   93.8
9           9 2024-07-17 01:40:00   93.1

In [12]:
df_air['timestamp'] = pd.to_datetime(df_air.timestamp) + pd.offsets.DateOffset(months=6, days=16)

In [14]:
df_air.to_csv('samples/air_sample.csv')