In [59]:
import pandas as pd
import plotly.express as px
import numpy as np

In [60]:
df_temp = pd.read_csv('samples/temp.csv')
df_temp.head(10)

     type-id  instance-id   timestamp  value
0  2441636.0    1513213.0  2016-01-03     50
1  2441636.0    1513213.0  2016-01-10     53
2  2441636.0    1513213.0  2016-01-17     52
3  2441636.0    1513213.0  2016-01-24     53
4  2441636.0    1513213.0  2016-01-31     59
5  2441636.0    1513213.0  2016-02-07     56
6  2441636.0    1513213.0  2016-02-14     60
7  2441636.0    1513213.0  2016-02-21     66
8  2441636.0    1513213.0  2016-02-28     59
9  2441636.0    1513213.0  2016-03-06     66

In [61]:
fig = px.line(df_temp,x="timestamp",y="value")
fig.show()

In [62]:
import datetime


datetime.datetime.now()

datetime.datetime(2024, 7, 14, 17, 9, 24, 446421)

In [63]:
df_lum = pd.DataFrame(columns=["type-id","instance-id","timestamp","value"])
df = pd.read_csv('samples/incoming_solar_raw.csv')
new_var = df.head(10)
new_var

df.assign(timestamp=np.nan)

,water_year,month,day,calendar_year,hour,sme2_sin_w/m2,smf1_sin_w/m2,smg1_sin_w/m2,smg2_sin_w/m2,smm1_sin_w/m2,smm2_sin_w/m2,timestamp
0,2008,10,1,2007,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2008,10,1,2007,1,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2008,10,1,2007,2,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2008,10,1,2007,3,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2008,10,1,2007,4,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
52603,2013,9,30,2013,19,0.0,0.0,0.0,0.0,0.0,0.0,NaN
52604,2013,9,30,2013,20,0.0,0.0,0.0,0.0,0.0,0.0,NaN
52605,2013,9,30,2013,21,0.0,0.0,0.0,0.0,0.0,0.0,NaN
52606,2013,9,30,2013,22,0.0,0.0,0.0,0.0,0.0,0.0,NaN
52607,2013,9,30,2013,23,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [64]:
df = df.assign(timestamp = df.calendar_year.astype(str) + '-' + \
  df.month.astype(str) + '-' +df.day.astype(str))

In [65]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df.head(10)
df=df.assign(timestamp=df.timestamp.astype(str)+ ' ' +df.hour.astype(str)+':00:00')

df.head(20)
df["timestamp"] = pd.to_datetime(df["timestamp"], format='%Y-%m-%d %H:%M:%S')

In [66]:
df.head(20)
#df = df.loc[df['hour'] == 11]

,water_year,month,day,calendar_year,hour,sme2_sin_w/m2,smf1_sin_w/m2,smg1_sin_w/m2,smg2_sin_w/m2,smm1_sin_w/m2,smm2_sin_w/m2,timestamp
0,2008,10,1,2007,0,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 00:00:00
1,2008,10,1,2007,1,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 01:00:00
2,2008,10,1,2007,2,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 02:00:00
3,2008,10,1,2007,3,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 03:00:00
4,2008,10,1,2007,4,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 04:00:00
5,2008,10,1,2007,5,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 05:00:00
6,2008,10,1,2007,6,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 06:00:00
7,2008,10,1,2007,7,2.4,1.0,1.7,0.7,4.3,1.9,2007-10-01 07:00:00
8,2008,10,1,2007,8,25.9,18.5,29.5,27.3,30.6,24.5,2007-10-01 08:00:00
9,2008,10,1,2007,9,52.0,35.4,48.7,50.0,59.4,49.3,2007-10-01 09:00:00
10,2008,10,1,2007,10,82.2,63.8,87.5,88.4,96.8,90.0,2007-10-01 10:00:00
11,2008,10,1,2007,11,113.9,99.4,138.9,132.9,142.5,135.5,2007-10-01 11:00:00
12,2008,10,1,2007,12,192.0,174.5,265.8,235.4,226.2,228.5,2007-10-01 12:00:00
13,2008,10,1,2007,13,162.4,157.9,197.7,205.0,192.3,192.5,2007-10-01 13:00:00
14,2008,10,1,2007,14,317.1,345.8,380.6,407.0,329.2,382.5,2007-10-01 14:00:00
15,2008,10,1,2007,15,356.5,329.8,339.5,388.6,330.1,369.3,2007-10-01 15:00:00
16,2008,10,1,2007,16,161.5,114.6,218.0,212.4,173.1,180.2,2007-10-01 16:00:00
17,2008,10,1,2007,17,190.5,29.9,111.8,133.2,141.7,157.2,2007-10-01 17:00:00
18,2008,10,1,2007,18,45.9,10.9,28.5,41.5,21.9,40.8,2007-10-01 18:00:00
19,2008,10,1,2007,19,0.0,0.0,0.0,0.0,0.0,0.0,2007-10-01 19:00:00

In [9]:
df.head(10)

,water_year,month,day,calendar_year,hour,sme2_rh,smf1_rh,smg1_rh,smg2_rh,smm1_rh,smm2_rh,timestamp
11,2008,10,1,2007,11,0.99,0.97,0.94,0.99,0.95,1.00,2007-10-01
35,2008,10,2,2007,11,0.52,0.46,0.46,0.50,0.47,0.50,2007-10-02
59,2008,10,3,2007,11,0.69,0.63,0.63,0.67,0.64,0.70,2007-10-03
83,2008,10,4,2007,11,0.66,0.62,0.61,0.64,0.62,0.66,2007-10-04
107,2008,10,5,2007,11,0.78,0.72,0.70,0.76,0.73,0.78,2007-10-05
131,2008,10,6,2007,11,0.76,0.68,0.68,0.74,0.68,0.76,2007-10-06
155,2008,10,7,2007,11,0.66,0.57,0.57,0.64,0.58,0.66,2007-10-07
179,2008,10,8,2007,11,0.31,0.28,0.28,0.31,0.29,0.30,2007-10-08
203,2008,10,9,2007,11,0.19,0.17,0.17,0.18,0.18,0.19,2007-10-09
227,2008,10,10,2007,11,0.50,0.44,0.44,0.47,0.46,0.49,2007-10-10

In [67]:
df_lum['timestamp'] = df['timestamp'].copy()
df_lum['value'] = df['sme2_sin_w/m2'].copy()
df_lum['type-id']=522558
df_lum['instance-id'] = 631850

df_lum.head(10)

   type-id  instance-id           timestamp value
0   522558       631850 2007-10-01 00:00:00   0.0
1   522558       631850 2007-10-01 01:00:00   0.0
2   522558       631850 2007-10-01 02:00:00   0.0
3   522558       631850 2007-10-01 03:00:00   0.0
4   522558       631850 2007-10-01 04:00:00   0.0
5   522558       631850 2007-10-01 05:00:00   0.0
6   522558       631850 2007-10-01 06:00:00   0.0
7   522558       631850 2007-10-01 07:00:00   2.4
8   522558       631850 2007-10-01 08:00:00  25.9
9   522558       631850 2007-10-01 09:00:00  52.0

In [68]:
df_lum.to_csv('samples/luminance.csv')

In [69]:
df1 = pd.read_csv('samples/luminance.csv')
df2 = pd.read_csv('samples/temp.csv')
df1.count()

Unnamed: 0     52608
type-id        52608
instance-id    52608
timestamp      52608
value          52608
dtype: int64

In [70]:
df2.count()

type-id        53
instance-id    53
timestamp      53
value          53
dtype: int64

In [ ]:
df